.experiences {
    display: flex;
    gap: 100px;
    flex-direction: column;
    .listing {
        text-align: center;
        &>.elements {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 0;
            gap: 50px;
        }

        &>.icon-title {
            display: inline-flex;
            position: relative;
            padding-bottom: -10px;
            font-size: 40px;
            font-weight: 500;
            align-items: center;
            img {
                height: 45px;
                margin-right: 16px;
            }

            &:after {
                position: absolute;
                bottom: 5px;
                left: 0;
                content: "";
                background-color: gray;
                width: 100%;
                height: 2px;
            }
        }

        .experience {
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 5px;

            &>img {
                width: 70px;
            }
            &>div {
                display: flex;
                gap: 7px;
                flex-direction: column;
            }

            .infos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 15px;
                column-gap: 30px;
            }
            .description {
                text-align: justify;
            }
            .icon-title {
                display: flex;
                align-items: center;

                img {
                    height: 25px;
                    margin-right: 10px;
                }
                font-size: 15px;
                font-weight: 700;
                text-align: center;
            }

            .split {
                display: grid;
                grid-template-columns: 50% 50%;
                text-align: left;
            }
        }

        .certifs {
            display: flex;
            padding-top: 50px;
            gap: 5px;
            flex-wrap: wrap;
            justify-content: center;

            a {

                img {
                    height: 50px;
                }
            }
        }

        .contests {
            display: flex;
            padding-top: 30px;
            column-gap: 50px;
            flex-wrap: wrap;
            justify-content: center;

            a {
                color: inherit;
                font-size: 40px;
                text-decoration: inherit;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .experiences {
        .listing {
            .experience {
                .infos {
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .experiences {
        .listing {
            .experience {
                gap: 50px;
                flex-direction: row;
                padding: 30px;
            }

            text-align: left;
            &>.icon-title {
                font-size: 50px;
                img {
                    height: 65px;
                }
            }

            &>.elements, .certifs, .contests {
                justify-content: left;
            }
            &>.elements {
                gap: 12px;
            }
            .certifs {
                gap: 20px;
                a {
                    img {
                        height: 100px;
                    }
                }
            }
        }
    }
}