.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .project {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 100px;

        .imagePres {
            width: 400px;
            height: 250px;
            border-radius: 50px;
            object-fit: cover;
            background-color: gray;
            box-shadow: 0px 30px 61px 0px rgba(0, 0, 0, 0.25);
        }

        .text {
            max-width: 400px;
            .title {
                font-weight: 700;
                font-size: 40px;

                display: flex;

                align-items: center;
                
                justify-content: space-between;

                &>span:nth-child(2) {
                    display: flex;
                }

                img {
                    height: 40px;
                    opacity: 50%;
                }

                a {
                    height: 40px;
                    display: block;
                }
            }
            .description {
                text-align: justify;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .projects {
        .project {
            justify-content: space-between;
        }
    }
}