@import 'header', 'home';

@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto Mono';
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}