@import 'header', 'home','experience', 'projects', 'contact';

@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto Mono';
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    &>div:first-child {
        padding-top: 150px;
    }

    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 100px;

    a.animate {
        position: relative;
        transition: transform .05s, box-shadow .05s;
        border-radius: 20px;
        box-shadow: -0px 0px 0px 0px rgba(0,0,0,.1);
        padding: 10px;
    }
    img.animate {
        position: relative;
        transition: transform .05s;
    }
}

@media only screen and (min-width: 600px) {
    
    a.animate:hover {
        transform: translate(5px, -5px);
        box-shadow: -5px 5px 61px 00px rgba(0,0,0,.1);
    }
    
    img.animate:hover {
        transform: translate(5px, -5px) rotate(1deg);
    }

    .container {
        padding: 20px;
    }
}