@import 'header', 'home','experience', 'projects', 'contact';

@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: 'Roboto Mono';
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    &>div {
        padding-top: 150px;
    }

    max-width: 1000px;
    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 100px;
}